/*
 * Measures
 */

$gl-spacing-1: 2px;
$gl-spacing-2: 4px;
$gl-spacing-3: 8px;
$gl-spacing-4: 12px;
$gl-spacing-5: 16px;
$gl-spacing-6: 24px;
$gl-spacing-7: 32px;
$gl-spacing-8: 48px;
$gl-spacing-9: 64px;
$gl-spacing-10: 96px;
$gl-spacing-11: 128px;
$gl-spacing-12: 176px;
$gl-spacing-13: 256px;

$sizes: (
  1: 2px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 24px,
  7: 32px,
  8: 48px,
  9: 64px,
  10: 96px,
  11: 128px,
  12: 176px,
  13: 256px
);

/*
 * Framework
 */

$page-width: 990px;
$nav-sidebar-width: 256px;


/*
 * Colors
 */

/*
Neutral palette mapping

Old variables are mapped to new variables by approximating the closest variable, erring on the side of shifting darker (with the exception of old 400). There is currently nothing mapped to 600 and 800, which makes them a good use case for subtle nuance in the UI.


Before        After (reflected below)
-------------------------------------
50            0
100           50
200           100
300           200
400           200
500           300
600           400
700           500†
800           700
900           900
950           950

† 500 and up passes 4.5:1 contrast ratio on $gray-10
*/

$white: #fff;
$gray-10: #fafafa;
$gray-50: #f0f0f0;
$gray-100: #dbdbdb;
$gray-200: #bfbfbf;
$gray-300: #999;
$gray-400: #868686;
$gray-500: #666;
$gray-600: #5e5e5e;
$gray-700: #525252;
$gray-800: #404040;
$gray-900: #303030;
$gray-950: #1f1f1f;
$black: #000;

$black-o-02: rgba($black, 0.02);
$black-o-04: rgba($black, 0.04);
$black-o-06: rgba($black, 0.06);
$black-o-08: rgba($black, 0.08);
$black-o-24: rgba($black, 0.24);

$green-50: #ecf4ee;
$green-100: #c3e6cd;
$green-200: #91d4a8;
$green-300: #52b87a;
$green-400: #2da160;
$green-500: #108548;
$green-600: #217645;
$green-700: #24663b;
$green-800: #0d532a;
$green-900: #0a4020;
$green-950: #072b15;

$blue-50: #e9f3fc;
$blue-100: #cbe2f9;
$blue-200: #9dc7f1;
$blue-300: #63a6e9;
$blue-400: #428fdc;
$blue-500: #1f75cb;
$blue-600: #1068bf;
$blue-700: #0b5cad;
$blue-800: #064787;
$blue-900: #033464;
$blue-950: #002850;

$orange-50: #fdf1dd;
$orange-100: #f5d9a8;
$orange-200: #e9be74;
$orange-300: #d99530;
$orange-400: #c17d10;
$orange-500: #ab6100;
$orange-600: #9e5400;
$orange-700: #8f4700;
$orange-800: #703800;
$orange-900: #5c2900;
$orange-950: #421f00;

$red-50: #fcf1ef;
$red-100: #fdd4cd;
$red-200: #fcb5aa;
$red-300: #f57f6c;
$red-400: #ec5941;
$red-500: #dd2b0e;
$red-600: #c91c00;
$red-700: #ae1800;
$red-800: #8d1300;
$red-900: #660e00;
$red-950: #4d0a00;

$purple-50: #f4f0ff;
$purple-100: #e1d8f9;
$purple-200: #cbbbf2;
$purple-300: #ac93e6;
$purple-400: #9475db;
$purple-500: #7b58cf;
$purple-600: #694cc0;
$purple-700: #5943b6;
$purple-800: #453894;
$purple-900: #2f2a6b;
$purple-950: #232150;

/*
 * Theme colors
 */

$t-indigo-50: #f7f7ff;
$t-indigo-100: #ebebfa;
$t-indigo-200: #d1d1f0;
$t-indigo-300: #a6a6de;
$t-indigo-400: #7c7ccc;
$t-indigo-500: #6666c4;
$t-indigo-600: #5b5bbd;
$t-indigo-700: #4b4ba3;
$t-indigo-800: #393982;
$t-indigo-900: #292961;
$t-indigo-950: #1a1a40;
$t-indigo-a-02: rgba($t-indigo-200, 0.02);
$t-indigo-a-04: rgba($t-indigo-200, 0.04);
$t-indigo-a-06: rgba($t-indigo-200, 0.06);
$t-indigo-a-08: rgba($t-indigo-200, 0.08);
$t-indigo-a-24: rgba($t-indigo-200, 0.24);

$t-gray-10: $gray-10;
$t-gray-50: $gray-50;
$t-gray-100: $gray-100;
$t-gray-200: $gray-200;
$t-gray-300: $gray-300;
$t-gray-400: $gray-400;
$t-gray-500: $gray-500;
$t-gray-600: $gray-600;
$t-gray-700: $gray-700;
$t-gray-800: $gray-800;
$t-gray-900: $gray-900;
$t-gray-950: $gray-950;
$t-gray-a-02: rgba($black, 0.02);
$t-gray-a-04: rgba($black, 0.04);
$t-gray-a-06: rgba($black, 0.06);
$t-gray-a-08: rgba($black, 0.08);
$t-gray-a-24: rgba($black, 0.24);

$t-blue-50: #f4f8fc;
$t-blue-100: #e6edf5;
$t-blue-200: #c8d7e6;
$t-blue-300: #97b3cf;
$t-blue-400: #648cb4;
$t-blue-500: #4a79a8;
$t-blue-600: #3e6fa0;
$t-blue-700: #305c88;
$t-blue-800: #25496e;
$t-blue-900: #1a3652;
$t-blue-950: #0f2235;
$t-blue-a-02: rgba($t-blue-200, 0.02);
$t-blue-a-04: rgba($t-blue-200, 0.04);
$t-blue-a-06: rgba($t-blue-200, 0.06);
$t-blue-a-08: rgba($t-blue-200, 0.08);
$t-blue-a-24: rgba($t-blue-200, 0.24);

$t-light-blue-50: #f2f7fc;
$t-light-blue-100: #ebf1f7;
$t-light-blue-200: #c9dcf2;
$t-light-blue-300: #83abd4;
$t-light-blue-400: #4d86bf;
$t-light-blue-500: #367cc2;
$t-light-blue-600: #3771ab;
$t-light-blue-700: #2261a1;
$t-light-blue-800: $t-blue-800;
$t-light-blue-900: $t-blue-900;
$t-light-blue-950: $t-blue-950;
$t-light-blue-a-02: rgba($t-light-blue-200, 0.02);
$t-light-blue-a-04: rgba($t-light-blue-200, 0.04);
$t-light-blue-a-06: rgba($t-light-blue-200, 0.06);
$t-light-blue-a-08: rgba($t-light-blue-200, 0.08);
$t-light-blue-a-24: rgba($t-light-blue-200, 0.24);

$t-green-50: #f2faf6;
$t-green-100: #e4f3ea;
$t-green-200: #c0dfcd;
$t-green-300: #8ac2a1;
$t-green-400: #52a274;
$t-green-500: #35935c;
$t-green-600: #288a50;
$t-green-700: #1c7441;
$t-green-800: #145d33;
$t-green-900: #0d4524;
$t-green-950: #072d16;
$t-green-a-02: rgba($t-green-200, 0.02);
$t-green-a-04: rgba($t-green-200, 0.04);
$t-green-a-06: rgba($t-green-200, 0.06);
$t-green-a-08: rgba($t-green-200, 0.08);
$t-green-a-24: rgba($t-green-200, 0.24);

$t-red-50: #fcf4f2;
$t-red-100: #fae9e6;
$t-red-200: #ebcac5;
$t-red-300: #d99b91;
$t-red-400: #b0655a;
$t-red-500: #ad4a3b;
$t-red-600: #9e4133;
$t-red-700: #912f20;
$t-red-800: #78291d;
$t-red-900: #691a16;
$t-red-950: #36140f;
$t-red-a-02: rgba($t-red-200, 0.02);
$t-red-a-04: rgba($t-red-200, 0.04);
$t-red-a-06: rgba($t-red-200, 0.06);
$t-red-a-08: rgba($t-red-200, 0.08);
$t-red-a-24: rgba($t-red-200, 0.24);

$t-light-red-50: #fff6f5;
$t-light-red-100: #fae2de;
$t-light-red-200: #f7d5d0;
$t-light-red-300: #d9796a;
$t-light-red-400: #cf604e;
$t-light-red-500: #c24b38;
$t-light-red-600: #b03927;
$t-light-red-700: #a62e21;
$t-light-red-800: $t-red-800;
$t-light-red-900: $t-red-900;
$t-light-red-950: $t-red-950;
$t-light-red-a-02: rgba($t-light-red-200, 0.02);
$t-light-red-a-04: rgba($t-light-red-200, 0.04);
$t-light-red-a-06: rgba($t-light-red-200, 0.06);
$t-light-red-a-08: rgba($t-light-red-200, 0.08);
$t-light-red-a-24: rgba($t-light-red-200, 0.24);

/*
 * Tanuki logo colors
 */

$tanuki-red: #e24329;
$tanuki-orange: #fc6d26;
$tanuki-yellow: #fca326;
$gitlab-logo-grey: #8c929d;

/*
 * Fonts
 */

$font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;

/*
 * Typography
 */

$base-font-size: 14px;
$lg-font-size: 16px;
$base-grid: 8px;
$base-grid--typography: 4px;

$font-weight--normal: 400;
$font-weight--bold: 600;
$text-color: $gray-900;
$text-color--secondary: $gray-500;
$text-color--inverted: $white;
$anchor-color: $blue-600;

/*
 * UI elements
 */

$border-color: $gray-200;
$border-color--light: $gray-100;
$border-width: 1px;
$border-radius: $gl-spacing-2;

/*
 * Z Indexs
 */

$z-nav-sidebar: 400;
$z-index-header: 200;
